<ion-content [fullscreen]="true" class="container">
  <ion-grid>
    <ion-row>
      <ion-col class="col">
        <ion-card color="light" class="card" *ngFor="let list of ListaPromociones">
          <ion-card-header>
            <ion-card-title class="title">
              <ion-button (click)="deleteItem(list._id)" class="delete">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
              {{list.name}}
            </ion-card-title>
            <ion-card-subtitle>Categoria: {{list.category}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{list.description}} <br>
            Fecha inicio: {{list.fecha_inicio}} <br>
            Fecha Fin: {{list.fecha_fin}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
