<ion-content [fullscreen]="true" class="container">
  <form  [formGroup]="InsertForm" class="custom-form">
    <ion-input
      class="input"
      formControlName="name"
      type="text"
      fill="solid"
      label="Nombre"
      labelPlacement="floating"
      ngModel
    ></ion-input>
    <ion-input
      class="input"
      formControlName="category"
      type="text"
      fill="solid"
      label="Categoria"
      labelPlacement="floating"
    ></ion-input>
    <ion-input
      class="input"
      formControlName="description"
      type="text"
      fill="solid"
      label="Descripcion"
      labelPlacement="floating"
    ></ion-input>
    <ion-input
      class="input"
      formControlName="fecha_inicio"
      type="text"
      fill="solid"
      label="Fecha Inicio"
      labelPlacement="floating"
    ></ion-input>
    <ion-input
      class="input"
      formControlName="fecha_fin"
      type="text"
      fill="solid"
      label="Fecha Fin"
      labelPlacement="floating"
    ></ion-input>
    <ion-button fill="outline" class="button" (click)="onInsert()">Insertar Promoción</ion-button>
  </form>
</ion-content>