<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Insertar Datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tiendas">
        <ion-icon name="gift-outline"></ion-icon>
        Tiendas
      </ion-tab-button>
      <ion-tab-button tab="promo">
        <ion-icon name="alert-outline"></ion-icon>
        Promociones
      </ion-tab-button>
      <ion-tab-button tab="eventos">
        <ion-icon name="calendar-outline"></ion-icon>
        Eventos
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
